/* 
    Created on : 16.03.2016, 22:31:53
    Author     : Goru
*/
#sf {
  background: #24313c; }
  #sf .sf-nav-wrap {
    font-family: sans-serif; }
    #sf .sf-nav-wrap ul.sf-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      #sf .sf-nav-wrap ul.sf-nav li {
        transition: margin 200ms ease 0s;
        float: left;
        position: relative;
        list-style: none;
        background: #1ab188;
        border-radius: 0;
        color: #fff;
        font-size: 16px;
        height: 60px;
        line-height: 60px;
        padding: 0 30px; }
    #sf .sf-nav-wrap .sf-nav-step.sf-li-number {
      background: #4d7e71; }
      #sf .sf-nav-wrap .sf-nav-step.sf-li-number .sf-nav-subtext {
        padding-left: 35px;
        display: block; }
      #sf .sf-nav-wrap .sf-nav-step.sf-li-number .sf-nav-number {
        font-size: 96px;
        font-weight: 700;
        left: 12px;
        overflow: hidden;
        position: absolute;
        top: 0; }
    #sf .sf-nav-wrap .sf-nav-step.sf-active {
      background: #1ab188; }
  #sf .steps-main {
    border: none;
    list-style: none;
    margin: 0;
    position: relative; }
  #sf .step-block {
    display: none;
    width: auto;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 0; }
    #sf .step-block .sf-content {
      color: #fff;
      padding: 25px 0; }
    #sf .step-block .step-num {
      color: #8f969b;
      display: inline-block;
      font-size: 12px;
      margin: 0 0 20px 0; }
    #sf .step-block.sf-active {
      display: block; }
    #sf .step-block .video {
      width: 100%; }
  #sf .button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
    #sf .button-group button {
      background-color: #1ab188;
      border-radius: 0;
      border: 3px solid #24313c;
      padding: 15px 30px;
      font-size: 1.5rem;
      width: 50%; }
      #sf .button-group button:hover {
        background-color: #4d7e71; }

/*form styles*/
#sf_form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative; }

#sf_form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute; }

/*Hide all except first fieldset*/
#sf_form fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#sf_form input, #sf_form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#sf_form .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#sf_form .action-button:hover, #sf_form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*# sourceMappingURL=front_dark.css.map */
