/* 
    Created on : 16.03.2016, 22:31:53
    Author     : Goru
*/

@import "flex";
@import "animated";

$base-color: #283d50;

#sf {
    .sf-nav-wrap {
        font-family: sans-serif;
        ul.sf-nav {
            @include flexbox();
            li {
                transition: margin 200ms ease 0s;
                float: left;
                margin-right: 10px;
                position: relative;
                list-style: none;
                background: $base-color;
                border-radius: 3px;
                color: #fff;
                font-size: 16px;
                height: 60px;
                line-height: 60px;
                padding: 0 40px;
            }
        }

        .sf-nav-step {
            &.sf-li-number{
                background: #14b5c8 none repeat scroll 0 0;
                cursor: pointer;
                .sf-nav-subtext {
                    padding-left: 35px;
                    display: block;
                }
                .sf-nav-number {
                    font-size: 96px;
                    font-weight: 700;
                    left: 12px;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    &.sf-nav-number-inner {

                    }
                }
            }
            &.sf-active {
                background: #283d50 none repeat scroll 0 0;
            }
            .video {
                width: 100%;
            }
        }
    }

    .steps-main {
        list-style: none;
        position: relative;
    }

    .step-block {
        display: none;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #e7e7e7;
        .sf-content {
            padding: 25px 0;
        }
        .step-num {
            font-size: 12px;
        }
        &.sf-active {
            display: block;
        }
    }

    .button-group {
        @include flexbox();
        @include justify-content(space-around);
        button {
            background-color: $base-color;
            border-radius: 3px;
            &:hover {
                background-color: lighten( $base-color, 15% );
            }
        }
    }

}

/*form styles*/
#sf_form {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#sf_form fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#sf_form fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#sf_form input, #sf_form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#sf_form .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#sf_form .action-button:hover, #sf_form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
